
<style type="text/css">
#comment_form_div {font-size: 0.7em; float:left; width:55.803em; background: #fafafa; border:1px solid #eeeeee; margin:10px 0px 10px 0px; padding-left:5px;} 
#comment_form_div .comment_form_item {float:left; width:55.803em;background:  #fafafa; border:0px; margin:0px; padding:0px;}
#comment_form_div .comment_form_item span {float:left; }

#comment_form_div #recaptcha_widget {float:left; width:55.803em;background:  #fafafa; border:0px; margin:0px; padding:0px;}
#comment_form_div #recaptcha_image {float:left; width:55.803em;background: #fafafa; border:0px; margin:0px; padding:0px;}
.comment_form_class {margin:0px; padding:0px; }
.comment_form_submit_class {margin:0px; padding:0px; border:0px; font-size: 0.8em; margin-right:10px; background: #666666; color:#ffffff; }
#comment_form_div .hidden_comment_form_item {width:55.803em;background: #fafafa;display:none; }  
#comment_form_div ul {list-style-type: none;color:#FF7800;}


#comment-preview {float:left; width:39.0625em; background: #fafafa; border:1px solid #eeeeee; margin:10px 0px 10px 0px; padding-left:5px;} 
#comment-preview .preview-message { font-weight: normal; font-size: 0.8em; margin-top:5px;} 
#comment-preview .preview-message h1 { font-weight: bold; font-size: 0.8em; } 
#comment-preview .preview-message h2 { font-weight: bold; font-size: 0.8em; } 
#comment-preview .actual-comment { margin-top:15px; border:1px dotted #FF7800; } 
#comment-preview .actual-comment p { font-weight: normal; font-size: 0.8em; } 

dl#comments {width:39.0625em;float:left; background: #fafafa; border:1px solid #eeeeee; margin:10px 0px 10px 0px; padding-left:5px;}

dl#comments dt {font-weight: normal; font-size: 0.8em;}
dl#comments dd {font-weight: normal; font-size: 0.8em;}

</style>


